.categoryHead {
  height: 57px;
  position: relative;
  top: 0;
  width: 100%;
  margin-bottom: 55px;

  .imageWrapper {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: -35px;
    left: 21px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
  }

  .shareUrl {
    position: absolute;
    top: 72px;
    right: 30px;

    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #587BE0;
  }
}