.experiencesTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  .title {
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.154px;
    color: #414047;
  }

  .seeAll {
    font-family: Manrope, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #885FFF;
  }
}